In [ ]:
##  Data Types and structures

Q1. write a code to create a string with your name and print it?

In [ ]:
print('Ketan Gosavi')

Ketan Gosavi

Q2. write a code to find the length of find the length of string "Hello World".?

In [ ]:
print(len('Hello World'))

11

Q3. write a code to slice the first 3 characters from the string 'python programming'?

In [ ]:
string = "Python Programming"
print('Slicing of string:',string[0:3])

Slicing of string: Pyt

Q4. write a code to convert the string'hello' in uppercase

In [ ]:
text = 'hello'
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Q5. write a code to replace the 'apple' with'orange' in the string 'i like apple'

In [ ]:
text = 'I like apple'
new_text = text.replace('apple', 'orange')
print(new_text)

I like orange

Q6. write a code to create a list with number 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7.write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

Q8. write the code to remove the number 3 in the list [1,2,3,4,5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

Q9. write a code to access the second element in the list['a','b','c','d'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

Q10. write a code to reverse the list[10,20,30,40,50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

Q11. write a code to crete a touple with the elements 10,20,30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

Q12. write a code to access the first element in the touple('apple','banana','cherry').

In [ ]:
fruits = ('apple', 'banana', 'cherry')
first_fruit = fruits[0]
print(first_fruit)

Q13. write a code to count how many times the number 2 appear in the tuple(1,2,3,2,4,2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print(count_of_twos)

Q14. write a code to find the index of the element 'cat' in the tuple('dog','cat','rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

Q15. write a code to chech if the element'banana 'is in the tuple('apple','orange','banana')

In [4]:
fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

Q16. write a code to create a set with the elements 1,2,3,4,5 and print it?

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

Q17. write a code to add the element 6 to the set{1,2,3,4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

Q18. write a code to create a tuple with the elements 10,20,30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

Q19. write a code to access the first element of te tuple('banana','apple','cherry')

In [3]:
fruits = ('banana','apple','cherry')
print('Access The first Element:',fruits[0])

Access The first Element: banana

Q20. write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2)

In [ ]:
numbers = (1,2,3,2,4,2)
count_twos = numbers.count(2)
print(count_twos)

Q21. write a code to find the index of the element 'banana'in the tuple('dog','cat','rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

Q22. write a code to chech if the element'banana 'is in the tuple('apple','orange','banana')

In [ ]:
fruits = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

Q23. write a code to cretae a set withe elements 1,2,3,4,5 and print it

In [ ]:
numbers = {1,2,3,4,5}
print(numbers)

Q24. write a code to add the element 6 to the set{1,2,3,4}

In [6]:
numbers= {1,2,3,4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}